#footer {
    
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(73, 73, 73);
    margin-top: 4cm;

}
#footerbutton{
    border-style: solid;
    border-color: white;
    background-color: rgb(240, 210, 210);
    border-radius: 0.2cm;
    padding: 0.1cm;
    margin-top: 1.3cm;
    font-style: italic;
}
#footerbutton:hover{
    background-color: rgb(187, 186, 186);
}
#header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 99%;
    height: 45px;
}
#ul li a:hover{
    background: rgb(77, 134, 240);
}

#ul li {
display: inline-block;
position: relative;
line-height: 21px;
text-align: left;
}
#ul li a{
display: block;
padding: 8px 25px;
color:rgb(0, 0, 0);
}
#logo{
    border-style: hidden;
    border-color: aliceblue;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow
}
#content {
    margin-top: 40px;
    width: 99%;
}
#kyoto{
    background-image: url('kyotoo.jpg');
    height: 700px;
    object-fit: cover;
    background-repeat: no-repeat;
}
#svg{
    margin-left: 90%;
    margin-top: 33%;
}
#hkyoto{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#list {
    background-color: rgb(223, 219, 219);
    border-radius: 0.5cm;
    width: 50%;
}
#about{
    padding-left: 0.2cm;
    
}
h4:hover{
    background-color: rgb(241, 244, 245);
}
#table{
    
    border-radius: 00.5cm;
    padding: 0.5cm;
    background-color: pink;
    }
#pink{

    border-radius: 00.2cm;
    background-color: pink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#lpink{
    
    border-radius: 0.2cm;
    background-color: white;
}
#main{
    border-radius: 0.2cm;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#seasonalhighlights{
    border-style: solid;
    border-color: darkgrey;
    
}
#strong {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    font-variant: small-caps;
}
#h12{
    padding-top: 1.5cm;
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: monospace;
    font-variant: small-caps;
}
#aboutkyoto{
    padding-right: 6cm;
    padding-left: 6cm;
    padding-top: 3cm;
}
#h {
    padding-left: 1cm;
    padding-top: 0.2cm;
}
#l{
    padding-bottom: 0.5cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 0.1cm;
}
.localspecialties{
    border-spacing: 0..1cm;
    padding: 5px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(110, 110, 110, 0.8);
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  #perfectures{
      margin-top: 3cm;
  }
  #explore{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      margin-bottom: 2cm;
  }