.footer {
    bottom: 0;
    height: 200px;
    background-color: rgb(53, 52, 52);
    color: rgb(221, 215, 215);
    margin: 2px;
    padding: 2px;
}
#contactus{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    
}
#aboutus{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    margin-left: 30%;
}
#socialmedia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
}
#copyright{
    margin-top: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30%;
}
#footerimg{
    margin-left: 2px;
    margin-bottom: 0;
    padding: 3px;
    
}

#header {
    
    top: 0;
    background-color: white;
    width: 99%;
    height: 45px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 2px;
    margin-left: 15%;
    padding-top: 5%;
}
.slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.452);
}
.text{
    color:rgb(224, 224, 224);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.active, .dot:hover{
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
#about {
    padding-left: 0.2cm;
}

#logo{
    border-style: hidden;
    border-color: aliceblue;
    padding: 2px;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow;
}
#logof{
    border-style: hidden;
    border-color: aliceblue;
    margin: 2px;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow;
    padding: 2px;
    margin-left: 30%;
    margin-right: 56%;
}

#content {
    margin-top: 40px;
    width: 99%;
}
#aboutjapan{
    margin-bottom: 2cm;
}
#About{
    font-family: cursive;
}
#flag{
    border-style: solid;
    border-color: rgb(218, 215, 212);
}
#aboutjapan{
    padding-left: 6cm;
    padding-right: 6cm;
    padding-top: 3cm;
}

.japanese{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.information{
    flex: 50%;
    padding: 0 4px;
}
.information img{
    margin-top: 8px;
    vertical-align: middle;
}
#japaninfo{
    margin-top: 2cm;
    margin-bottom: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#importantnotice{
    margin-top: 2cm;
    margin-bottom: 5cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: lightgrey;
}
#importantnotice td:hover{
    background-color: rgb(195, 230, 230);
}

.japan {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.convert {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-color: rgba(8, 209, 209, 0.87);
    width: 50%;
    background-color: rgb(145, 240, 243);
    margin-top: 3cm;
    margin-bottom: 6cm;
}
.slideshow {
    margin: 0 auto;
    padding-top: 50px;
    height: 700px;
    box-sizing: border-box;
}
.content {
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
}
.content-carrousel{
    width: 100%;
    position: absolute;
    float: right;
    animation: rotar 15s infinite linear;
    transform-style: preserve-3d;
}
.content-carrousel:hover{
    animation-play-state:paused;
    cursor: pointer;
}
.content-carrousel figure {
    width: 100%;
    height: 120px;
    border: 1px solid #4d444d;
    overflow: hidden;
    position: absolute;
}
.content-carrousel figure:nth-child(1){
    transform: rotatey(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2){
    transform: rotatey(40deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotatey(80deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotatey(120deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotatey(160deg) translateZ(300px);
}
.content-carrousel figure:nth-child(6){
    transform: rotatey(200deg) translateZ(300px);
}
.content-carrousel figure:nth-child(7){
    transform: rotatey(240deg) translateZ(300px);
}
.content-carrousel figure:nth-child(8){
    transform: rotatey(280deg) translateZ(300px);
}
.content-carrousel figure:nth-child(9){
    transform: rotatey(320deg) translateZ(300px);
}
.content-carrousel figure:nth-child(10){
    transform: rotatey(360deg) translateZ(300px);
}
.content-carrousel figure:nth-child(11){
    transform: rotatey(400deg) translateZ(300px);
}
.content-carrousel figure:nth-child(12){
    transform: rotatey(440deg) translateZ(300px);
}
.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 2px;
}
.content-carrousel img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.content-carrousel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}
@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to{
        transform: rotateY(360deg);
    }
}

.greetings{
    margin-top: 2cm;
    margin-bottom: 2cm;
    padding-left: 2cm;
    padding-right: 2cm;
    padding-bottom: 3cm;
    padding-top: 2cm;
   
    
}
#greetings{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
 #videobutton {
     background-color: rgb(176, 238, 253);
     border-radius: 0.3cm;
     padding: 0.2cm;
     margin-left: 2cm;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
     
 }
 #videobutton:hover {
     transform: scale(1.2);
 }

.modal {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
