.footer {
    bottom: 0;
    height: 200px;
    background-color: rgb(53, 52, 52);
    color: rgb(221, 215, 215);
    margin: 2px;
    padding: 2px;
}
#contactus{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    
}
#aboutus{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    margin-left: 30%;
}
#socialmedia{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
}
#copyright{
    margin-top: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30%;
}
#footerimg{
    margin-left: 2px;
    margin-bottom: 0;
    padding: 3px;
    
}

#header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 99%;
    height: 45px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin-top: 2px;
    margin-left: 15%;
    padding-top: 5%;
}
.slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.452);
}
.text{
    color:rgb(224, 224, 224);
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.active, .dot:hover{
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
#about {
    padding-left: 0.2cm;
}

#logo{
    border-style: hidden;
    border-color: aliceblue;
    padding: 2px;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow;
}
#logof{
    border-style: hidden;
    border-color: aliceblue;
    margin: 2px;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow;
    padding: 2px;
    margin-left: 30%;
    margin-right: 56%;
}

#content {
    margin-top: 40px;
    width: 99%;
}
#aboutjapan{
    margin-bottom: 2cm;
}
#About{
    font-family: cursive;
}
#flag{
    border-style: solid;
    border-color: rgb(218, 215, 212);
}
#aboutjapan{
    padding-left: 6cm;
    padding-right: 6cm;
    padding-top: 3cm;
}

.japanese{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.information{
    flex: 50%;
    padding: 0 4px;
}
.information img{
    margin-top: 8px;
    vertical-align: middle;
}
#japaninfo{
    margin-top: 2cm;
    margin-bottom: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#importantnotice{
    margin-top: 2cm;
    margin-bottom: 2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: solid;
    border-color: lightgrey;
}
#importantnotice td:hover{
    background-color: rgb(195, 230, 230);
}

.japan {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.months{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #ffe8e8;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.travelhighlights, #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 60vh;
    overflow-x: hidden;
}
.wrap {position: relative;}
.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide1 {background-image: url('jan.jpg');}
.slide2 {background-image: url('feb.jpg');}
.slide3 {background-image: url('mar.jpeg');}
.slide4 {background-image: url('april.jpg');}
.slide5 {background-image: url('may.jpg');}
.slide6 {background-image: url('june.jpeg');}
.slide7 {background-image: url('july.jpg');}
.slide8 {background-image: url('august.jpg');}
.slide9 {background-image: url('sep.jpeg');}
.slide10 {background-image: url('oct.jpg');}
.slide11 {background-image: url('nov.jpg');}
.slide12 {background-image: url('dec.png');}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slide-content span {
    font-size: 80px;
    color: rgb(255, 255, 255);
}
.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 0;
    height: 0;
    border-style: solid;
}
#arrowl{
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
}
#arrowr{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
}

.convert {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: solid;
    border-color: rgba(8, 209, 209, 0.87);
    width: 50%;
    background-color: rgb(145, 240, 243);
    margin-top: 3cm;
    margin-bottom: 4cm;
}