#footer {
    bottom: 0;
    height: 150px;
    background-color: rgb(53, 52, 52);
    color: white;
}
#header {
    position: fixed;
    top: 0;
    background-color: white;
    width: 99%;
    height: 45px;
}
#about {
    padding-left: 0.2cm;
}
#japan {
    background-image: url('japan.jpg');
    height: 737px;
    object-fit: cover;
    background-repeat: no-repeat;
}
#logo{
    border-style: hidden;
    border-color: aliceblue;
    border-radius: 0.2cm;
    background-color: red;
   font-family: 'Lucida Handwriting', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow
}

#content {
    margin-top: 40px;
    width: 99%;
}
#aboutjapan{
    margin-bottom: 2cm;
}
#About{
    font-family: cursive;
}
#flag{
    border-style: solid;
    border-color: rgb(218, 215, 212);
}
#aboutjapan{
    padding-left: 6cm;
    padding-right: 6cm;
    padding-top: 3cm;
}
.traveljapan{
    position: absolute;
    top: 40%;
   left: 50px;
   color: white;
  font-style: oblique;
  font-size: x-large;
  font-family: 'Papyrus','	Brush Script MT','Lucida Handwriting','	Courier New'; 
 }
.japan{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.months{
    flex: 50%;
    padding: 0 4px;
    
}
.months img{
    margin-top: 8px;
    vertical-align: middle;
}

.japanese{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.information{
    flex: 50%;
    padding: 0 4px;
}
.information img{
    margin-top: 8px;
    vertical-align: middle;
}
#japaninfo{
    margin-top: 2cm;
    margin-bottom: 1cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.importantnotice{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}
#importantnotice{
    margin-top: 3cm;
    margin-bottom: 2cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
imponotice::hover{
    background-color: rgb(194, 194, 245);
}

